---
title: Openings
date: 2018-09-01 01:00:51
layout: page
---
<style>
.col-md-3 h3 {
  margin-top:0;
  padding-top:0;
}
.col-md-9 {
  margin-bottom: 15px
}
</style>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
        <div class="col-md-12">
          <h2>Now Opening</h2>
          <p>
            Our group is looking for highly motivated undergraduate intern students year-round.
          </p>
          <hr>
          <h2>General Information for Prospective Graduate Student</h2>
          <p>
            Our group recruits 2-4 new graduate students each year.
            If you are interested in joining the group, please email Prof.
            Yoonyoung Chung with your brief résumé at least half a year before you apply to our graduate program; we strongly encourage prospective graduate students to have research experience in our group for several months prior to applying.
          </p>
          <p>
            As long as you can pursue MS/PhD degree(s) in EE, we welcome students from a variery of majors including not only electrical engineering, but materials science, chemical engineering, mechanical engineering, and physics.
          </p>
          <p>
            URL: <a href="http://admission.postech.ac.kr">POSTECH Admissions Webpage</a>
          </p>
          <hr>
          <h2>General Information for Undergraduate Student</h2>
          <p>
            Our group is looking for highly motivated undergraduate intern students year-round.
          </p>
        </div>
        <div class="col-md-3">
          <h3>Requirements</h3>
        </div>
        <div class="col-md-9">
          <ul class="list-unstyled">
            <li>Strong interest & curiosity in flexible electronics.</li>
            <li>Basics of semiconductor devices and physics.</li>
            <li>"At least" 10 hours of work per week.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Internship description</h3>
        </div>
        <div class="col-md-9">
          <ul class="list-unstyled">
            <li>Learning the basic knowledge of flexible electronics for research activities.</li>
            <li>Conducting research with our graduate students if you are ready. Please refer to the research section for details about our on-going projects.</li>
          </ul>
        </div>  
        <div class="col-md-3">
          <h3>Stipend</h3>
        </div>
        <div class="col-md-9">
          <ul class="list-unstyled">
            <li>Based on your participation in the project, you may be paid a competitive stipend.</li>
          </ul>
        </div>  
        <div class="col-md-3">
          <h3>Applying</h3>
        </div>
        <div class="col-md-9">
          <ul class="list-unstyled">
            <li>Please send an email to Prof. Yoonyoung Chung with brief description about your research interests, résumé, and desired period.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3><em>Non-POSTECH Undergraduates</em></h3>
        </div>
        <div class="col-md-9">
          The Department of Electrical Engineering at POSTECH runs the undergraduate research program during the summer and winter vacations with on-campus housing. Please contact our department administrator (TEL: +82-54-279-8093) for more information.
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
