---
title: Research
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
      <li data-filter="all" class="filter active"><a href="#all">All</a></li>
      <li data-filter="category_1" class="filter"><a href="#category_1">FABRICATION TECHNOLOGY</a></li>
      <li data-filter="category_2" class="filter"><a href="#category_2">EMERGING FLEXIBLE DEVICE</a></li>
      <li data-filter="category_3" class="filter"><a href="#category_3">WEARABLE HEALTHCARE</a></li>
	</ul>
	<div class="row mix-grid thumbnails">
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/assets/images/tft.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>NOVEL FABRICATION PROCESS FOR FLEXIBLE TRANSISTOR</h4>
        <p>Emerging electronics have revolutionized the life of human beings. Technological requirements ...</p>
		<a title="NOVEL FABRICATION PROCESS FOR FLEXIBLE TRANSISTOR" href="#research1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>NOVEL FABRICATION PROCESS FOR FLEXIBLE TRANSISTOR</h2>
        <p>Emerging electronics have revolutionized the life of human beings.
           Technological requirements for current electronic devices include high speed,
           flexibility, lightweight, low-price, or even transparency.
           Thin-film transistors, essential elements for display, sensor, and
           other large-area applications, should fulfill these needs.
           Our group develops novel fabrication methods for flexible thin-film transistors.
           We conduct research on high carrier mobility, good durability against bending stress,
           and outstanding stability against bias/temperature/illumination stress.</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
      </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
        <div class="mix-inner">
          <img alt="" src="/assets/images/3-d_circuit.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>3-D FLEXIBLE CIRCUIT</h4>
        <p>...</p>
		<a title="3-D FLEXIBLE CIRCUIT" href="#research2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>
	      <div class="mix-info container">
		<h2>3-D FLEXIBLE CIRCUIT</h2>
        <p>The development of silicon VLSI technology has followed Moore’s law, which states that the number of 
          transistors on integrated circuits doubles every year. However, as the size of the state-of-the-art transistor
          shrunk to just a few nanometers, equivalent to tens of atoms, engineers have developed a new technology to
          stack transistors vertically. This 3-D semiconductor technology is advantages in improving the overall
          performance, energy efficiency, and functionality. In industry, NAND flash memory is fabricated by using the 3-D
          technology, and it’s capacity has been increased rapidly. Our research goal is to establish a novel technology for
          3-D flexible devices, and to develop large-area applications with a variety of functionalities including sensors
          and communications.
        </p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
      </div>
      <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/assets/images/antenna.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>ACTIVE LENS FOR THE NEXT GENERATION WIRELESS SYSTEM</h4>
        <p>Emerging electronics have revolutionized the life of human beings. Technological requirements ...</p>
		<a title="ACTIVE LENS FOR THE NEXT GENERATION WIRELESS SYSTEM" href="#research3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>ACTIVE LENS FOR THE NEXT GENERATION WIRELESS SYSTEM</h2>
        <p>
          Since the revolution in wireless communication by Guglielmo Marconi, the amount of data over mobile
          networks has been increased drastically. The next generation wireless systems, 5G, aim to provide much higher
          data rate and bandwidth at tens of GHz and require entirely new hardware infrastructure. Our group studies
          flexible active lens that can be manipulated electrically to control the beam shape in real time for the next
          generation wireless system.</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
      </div>
      <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/assets/images/e-paper.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>FLEXIBLE FULL-COLOR ELECTRONIC PAPER</h4>
        <p>Recent advancement in display technology has been mainly focused on transmissive displays, which generate ...</p>
		<a title="FLEXIBLE FULL-COLOR ELECTRONIC PAPER" href="#research4" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>FLEXIBLE FULL-COLOR ELECTRONIC PAPER</h2>
        <p>Recent advancement in display technology has been mainly focused on transmissive displays, which generate 
          and emit light, such as OLED and LCD. In contrast to conventional displays, most objects that we see reflect 
          photons from the sun or electric lights; we feel more comfortable when detecting objects through reflected light
          rather than emitted light. Electronic paper (e-paper) works like ordinary paper, and its screen is controlled by
          electrical signal. E-paper generally consumes much lower power than conventional displays as there is no need
          for embedded light source, which is an essential property for portable applications. Despite of its advantages,
          current e-paper technology has several drawbacks such as rigid form factor and black-and-white color. We
          develop new technology for flexible and full-color e-paper that can open up niche applications complementary
          to current displays.</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
      </div>
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/assets/images/skin-sensor.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>SKIN-ATTACHABLE SENSOR</h4>
        <p>In recent years, skin-attachable electronic sensors have received significant attention with innovation in...</p>
		<a title="SKIN-ATTACHABLE SENSOR" href="#research5" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>SKIN-ATTACHABLE SENSOR</h2>
        <p>
          In recent years, skin-attachable electronic sensors have received significant attention with innovation in
          electronics form factor and increased interests in the healthcare sector. Skin-attachable sensor can provide
          vital clinical information and operate in real time with convenience. However, several challenges are still needed
          to be solved for practical utilization, such as conformal contact, flexibility, low-power operation, wireless
          communication, and so on. We aim to develop key technologies and killer applications for skin-attachable
          sensor with novel design, materials processing, and device fabrication.</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/assets/images/ems.jpg" class="img-responsive">
	      <div class="mix-details">
		<h4>ELECTRICAL STIMULATION FOR HEALTHCARE APPLICATIONS</h4>
        <p>The signal transmission in the human body is mostly carried out by electricity. Thus, we can diagnose and treat ...</p>
		<a title="ELECTRICAL STIMULATION FOR HEALTHCARE APPLICATIONS" href="#research6" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2>ELECTRICAL STIMULATION FOR HEALTHCARE APPLICATIONS</h2>
        <p>The signal transmission in the human body is mostly carried out by electricity. Thus, we can diagnose and treat 
          the body by reading (electrophysiology) and sending (electrical stimulation) electrical signals. Electrical muscle
          stimulation (EMS) and transcutaneous electrical nerve stimulation (TENS) are the most representative
          examples of electrical therapy. EMS is a method to mimic the electrical signals that are sent from the brain to
          contract muscles. It can enhance the treatment of muscular skeletal disease and muscle/rehabilitation training.
          TENS modulates the neural transmission from pain receptors in order to relieve chronic pain that is not induced
          by certain pathological causes. However, current EMS and TENS systems operate with pre-programmed
          patterns without detecting the status of target tissue in real time and cannot cure the root cause of pain. We
          aim to overcome the shortcomings of current electrical stimulation systems described above and to develop
          wearable and low-power electrical stimulation devices for various healthcare applications.</p>
		<a class="btn btn-lg btn-default back" href="javascript:;"> Back</a>
	      </div>               
	    </div>                                       
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
