---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate" style="background-image: url(assets/images/banners/banner-3.jpg); height: 400px;">
  </div>
</div>
<!--
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Multipurpose Template</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
	  <img class="img-responsive"
	  src="/asset1.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Well Documented</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
	  <img class="img-responsive"
	  src="/asset3.jpg">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Responsive Design</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
	  <img class="img-responsive"
	  src="/asset1.jpg">
      </div>
    </div>
  </div>
  -->

<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <!--
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>Goal definition</h2>
	  <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>Analyse</h2>
	  <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>Implementation</h2>
	  <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
	</div>
      </div>
    </div>
    -->
    <!-- END STEPS -->

    <!-- BEGIN RESEARCH AREA -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
	<h2 class="wow fadeIn"><a href="/research/">Research Area</a></h2>
    <p class="wow fadeIn">description</p>
      </div>
      <div class="col-md-3">
	<div class="">
	  <div class="recent-work-item">
	    <em>
	      <img src="/assets/images/fabrication_thumbnail.jpg" alt="Fabrication Technology" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/research#category_1">
	      <strong>Fabrication Technology</strong>
	    </a>
      </div>
    </div>
      </div>
      <div class="col-md-3">
	<div class="">
	  <div class="recent-work-item">
	    <em>
	      <img src="assets/images/emerging_thumbnail.jpg" alt="Emerging Flexible Device" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/research#category_2">
	      <strong>Emerging Flexible Device</strong>
	    </a>
	  </div>
    </div>
      </div>
      <div class="col-md-3">
	<div class="">
	  <div class="recent-work-item">
	    <em>
	      <img src="assets/images/healthcare_thumbnail.jpg" alt="Wearable Healthcare" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/research#category_3">
	      <strong>Wearable Healthcare</strong>
	    </a>
	  </div>
	</div>       
      </div>
    </div>   
    <!-- END RESEARCH AREA -->

<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2" style="height: 400px;">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/assets/images/wordcloud.jpg" style="width: 80%; height: 300px; margin-top:50px">
    </div>
    <div class="col-xs-6 row-corporate-text-container" style="height: 400px;">
    <div class="row-corporate-text">
      <h1><b class="wow fadeIn require">Word Cloud</b></h1>
      <h4 class="wow fadeIn">Representative keywords from our publications
        (by Word Cloud Generator)</h4>
    </div>
    </div>
  </div>
</div>
</div>

    <!-- BEGIN TABS AND TESTIMONIALS -->
    <div class="row mix-block margin-bottom-40">
      <!-- TABS -->
      <!--
      <div class="col-md-7 tab-style-1">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>
	  <li><a href="#tab-2" data-toggle="tab">Documented</a></li>
	  <li><a href="#tab-3" data-toggle="tab">Responsive</a></li>
	  <li><a href="#tab-4" data-toggle="tab">Clean & Fresh</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane row fade in active" id="tab-1">
	    <div class="col-md-3 col-sm-3">
	      <a href="metronic/assets/pages/img/works/img6.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
		<img class="img-responsive" src="metronic/assets/pages/img/works/img6.jpg" alt="">
	      </a>
	    </div>
	    <div class="col-md-9 col-sm-9">
	      <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
	      <p><a class="more" href="javascript:;">Read more <i class="icon-angle-right"></i></a></p>
	    </div>
	  </div>
	  <div class="tab-pane row fade" id="tab-2">
	    <div class="col-md-9 col-sm-9">
	      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
	    </div>
	    <div class="col-md-3 col-sm-3">
	      <a href="metronic/assets/temp/works/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
		<img class="img-responsive" src="metronic/assets/pages/img/works/img1.jpg" alt="">
	      </a>
	    </div>
	  </div>
	  <div class="tab-pane fade" id="tab-3">
	    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
	  </div>
	  <div class="tab-pane fade" id="tab-4">
	    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
	  </div>
	</div>
  </div>
  -->
      <!-- END TABS -->

      <!-- TESTIMONIALS -->
      <div class="col-md-3">
	<h2>News</h2>
      </div>
      <div class="col-md-9 testimonials-v1">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
	      <blockquote><p>Inyeol wins an excellence award at the 5th Bio Startup Idea Competition (http://biostartup.jobkorea.co.kr). Congratulations!
              (May. 2018)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img1-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
	      <blockquote><p>Taewon joins our group. Welcome!
              (Feb. 2018)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img5-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
	      <blockquote><p>Seongmin and Hyuk gives excellent presentations about their research on flexible devices at the 2017 MRS Fall Meeting in Boston.
              (Nov. 2017)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Inyeol and Jinpyo exhibits their work on the wearable sensor platform to prevent Sudden Infant Death Syndrome at the Tech Fair organized by the Center for Advanced Soft Electronics. Well done!
(Nov. 2017)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Prof. Chung gives a special lecture on e-paper technologies at the LG Display Technical Talk.
(Jun. 2017)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Jinpyeo, an undergraduate intern, gets early admission to POSTECH. He will join our graduate program in Spring 2018. Congratulations!
(Jan. 2017)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>A team of Prof. Yoonyoung Chung (Co-PI), Prof. Ho-Jin Song (PI), and Prof. Wonbin Hong (Co-PI) at POSTECH EE is chosen as the recipient of the prestigious ICT research award from Samsung Future Technology Foundation. The groundbreaking research aims to develop massive MIMO beamforming technologies with flexible electronics.
(Sep. 2016)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Seongmin joins our group. Welcome!
(Sep. 2016)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Two graduate students Inyeol and Hyuk joins our group. Let's celebrate a new beginning!
(Mar. 2016)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	    <div class="item">
          <blockquote><p>Professor Yoonyoung Chung joins the EE department at POSTECH as an assistant professor.
(Feb. 2015)
          </p></blockquote>
	      <div class="carousel-info">
		<img class="pull-left" src="metronic/assets/pages/img/people/img2-small.jpg" alt="">
		<div class="pull-left">
		  <span class="testimonials-name">Chanhyun Lee</span>
		  <span class="testimonials-post">Group Admin</span>
		</div>
	      </div>
	    </div>
	  </div>

	  <!-- Carousel nav -->
	  <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
	  <a class="right-btn" href="#myCarousel" data-slide="next"></a>
	</div>
      </div>
      <!-- END TESTIMONIALS -->
    </div>                
    <!-- END TABS AND TESTIMONIALS -->
    <!-- BEGIN BLOCKQUOTE BLOCK -->   
    <!--
    <div class="row quote-v1 margin-bottom-40 ">
      <div class="col-md-9">
	<span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span>
      </div>
      <div class="col-md-3 text-right">
	<a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
      </div>
    </div>
    -->
    <!-- END BLOCKQUOTE BLOCK -->


    <!-- BEGIN SPONSORS -->
    <div class="row margin-bottom-40 our-clients">
      <div class="col-md-3">
	<h2><a href="javascript:;">Our Sponsors</a></h2>
	<p>We appreciate the support from a variety of government agencies, consortiums, and companies.</p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel5">
      <div class="">
        <a target="_blank" href="http://www.moe.go.kr">
          <img src="/assets/images/sponsors/moe.gif" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.msip.go.kr">
          <img src="/assets/images/sponsors/msip.gif" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.msip.go.kr">
          <img src="/assets/images/sponsors/mi.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.nrf.re.kr">
          <img src="/assets/images/sponsors/nrf.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.case.re.kr">
          <img src="/assets/images/sponsors/case.jpg" class="img-responsive" alt="">
        </a>
	  </div>
    </div>
	<div class="owl-carousel owl-carousel5">
      <div class="">
        <a target="_blank" href="http://www.posco.com">
          <img src="/assets/images/sponsors/posco.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.samsungftf.com">
          <img src="/assets/images/sponsors/samsung.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="http://www.lgdisplay.com">
          <img src="/assets/images/sponsors/lgdisplay.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="https://www.keysight.com">
          <img src="/assets/images/sponsors/keysight.jpg" class="img-responsive" alt="">
        </a>
	  </div>
      <div class="">
        <a target="_blank" href="https://www.ansys.com">
          <img src="/assets/images/sponsors/ansys.jpg" class="img-responsive" alt="">
        </a>
	  </div>
	</div>
      </div>          
    </div>
    <!-- END SPONSORS -->
  </div>
</div>

